body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  /* background-color: #2a84fa; */
}
.cardContainer{
  margin: 0 auto;
  
}

.inputBox{
  /* background-color: rgb(233, 218, 218); */
  padding: 0 20px ;
  margin-left: 42.23%;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  
  /* padding: 20px; */
  }
  .infoContainer{
    color: white;
  }
  /* dasjdkjajsdsakdhjksadhksadhkjashdkjhasjkdhajdhskj */

  :root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 0.875em;  /* 14px */
    --fontNormal: 1em;      /* 16px */
    --fontLarge:  1.375em;  /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
  }
  
 
  
  * {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font);
    font-weight: var(--fontOrigin);
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0.005rem;
    -webkit-font-smoothing: subpixel-antialiased;
    /* font-smoothing: subpixel-antialiased; */
  }
  .top_text{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    color: cornflowerblue;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, 1fr );
    grid-template-rows: auto;
    grid-template-areas:
      "menu menu menu"
      ". card .";
    width: 100vw;
    min-height: 80  vh;
    padding-top: 30px;
    padding-bottom: 40px;
    /* border: 1px solid red; */
    
  }
  /* .wrapper:hover{
    box-shadow: 0 40px 130px rgba(144, 211, 223, 0.6);
  } */
 
  .card {
    position: relative;
    grid-area: card;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    /* width: 100%; */
    max-width: 700px;
    height: 400px;
    font-size: var(--fontOrigin);
    border-radius: 8px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  
  .card__save {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card__save:focus {
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .card:hover .card__save {
    opacity: 0.6;
  }
  
  .card__save i {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card__save:hover i {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card__save:active,
  .card__save.active {
    opacity: 1 !important;
  }
  
  .card__save:active i,
  .card__save.active i {
    color: white;
  }
  
  .card__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    /* padding-bottom: 20px; */
  }
  
  .card__image img {
    -webkit-transform: scale(1.3, 1.3);  
    transform: scale(1.3, 1.3);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    
    /* animation-iteration-count: infinite; */
  }
  
  .card:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.5;
  }
  
  .card__header {
    display: grid;
    width: 100%;
    height: 200px;
  }
  
  .card__profile {
    align-self: center;
    justify-self: center;
    display: block;
    overflow: hidden;
    width: 10vmax;
    height: 10vmax;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
  }
  
  .card__profile img {
    -webkit-transform: scale(1.5, 1.5)  translateZ(0);
    transform: scale(1.5, 1.5)  translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
    filter: grayscale(50%) contrast(75%) brightness(1.3);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card:hover .card__profile img {
    -webkit-transform: scale(1, 1)  translateZ(0);
    transform: scale(1, 1)  translateZ(0);
  }
  
  .card__body {
    display: grid;
    padding: 0 20px;
  }
  
  .card__name {
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: white;
    font-size: var(--fontLarge);
    font-weight: var(--fontLight);
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    background: -webkit-linear-gradient(white, #a1a1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    font-size: 28px;
  }
  
  .card:hover .card__name {
    background: -webkit-linear-gradient(white, #c1c1c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .card__job {
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-align: center;
    letter-spacing: 0.35rem;
    color: rgba(43, 255, 237, 0.87);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    font-size: 16px;
  }
  
  .card:hover .card__job {
    color: rgb(58, 183, 255);
  }
  
  .card__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(80px);
    display: block;
    margin: 22px 0 6px 0;
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
    color: rgba(255, 255, 255, 0.65);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover .card__bio {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  
  .card__footer {
    position: relative;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "date category";
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
  }
  
  .card:hover .card__footer {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  
  .card__date {
    grid-area: date;
    display: inline-block;
    align-self: left;
    justify-self: left;
    font-size: var(--fontSmall);
    font-weight: var(--fontBold);
    text-transform: uppercase;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
    color: rgba(250, 250, 250, 0.856);
    padding-bottom:10px;  
    font-size: 12px;
  
  }
  .diff_col{
    color: white;
    font-weight: bold;
  }
  
  